{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/styles/home.css') }}" />
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block body %}
<div class="HomePage">
    <h1 class="HomeTitle">Notes App</h1>
    <h2 class="HomeSubtitle">Remember Everything !!!</h2>
    <a href="/login">
        <button class="HomeButton">Start Your Journey</button>
    </a>
</div>
{% endblock %}
